/*
HEADER
*/
header .sony-header{
  background-color: black;
}

header .nav-menu{
  background-color: white;
}

header .sony-header img{
  width: 100px;
}

/*
/HEADER
*/



/*
JUMBOTRON
*/

.jumbotron{
  height: 675px;
  background-image: url(./img/jumbo-bg.png);
  background-position: center;
  margin-top: 100px;
}

.jumbotron h2{
  font-size: 50px;
  font-weight: 400;
}

.jumbotron p{
  font-size: 20px;

}

/*
/JUMBOTRON
*/


/*
MAIN
*/

/* SIX-CARD */
  .six-card-container img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .six-card-container img:hover{
    transform:translateY(-20px);
  }

/* /SIX-CARD */

/* TEXT-PS5-CONTAINER */
.text-ps5-container span{
  font-size: 13px;
  font-weight: 600;
}

.text-ps5-container h2,
.img-text-ps5-container h2{
  font-size: 50px;
}
/* TEXT-PS5-CONTAINER */

/* ACCESSORI-CONTAINER */
.accessori-container p{
  font-weight: 500;
}

.accessori-container .col{
  opacity: 0.7;
  border-bottom: 3px solid white;
  cursor: pointer;
}
.accessori-container .col:hover{
  opacity:1;
}

.accessori-container .col:active{
  opacity: 1;
  border-bottom: 3px solid green;
}

/* /ACCESSORI-CONTAINER */

/* JUMBOTRON-TAKES-2 */
.jumbotron-take{
  background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
}

.jumbotron-take img{
  width: 100%;
}

.jumbotron-take h2{
  font-size: 47px;
  font-weight: 400;
}

.jumbotron-take p{
  font-size: 20px;
}
/* /JUMBOTRON-TAKES-2 */

/* NUOVE-USCITE */
.nuove-uscite{
  background-color: #1f1f1f;
}
.nuove-uscite h2{
  font-weight: 400;
  font-size: 40px;
}

.nuove-uscite p{ 
  font-weight: 400;
  font-size: 20px;
}

.nuove-uscite img{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

/* /NUOVE-USCITE */

/* EXPLORE-PS5 */
.explore-ps5-container h2{
  font-size: 50px;
  font-weight: 400;
}

.explore-ps5-container p{
  font-size: 20px;
}

.explore-ps5-container span{
  position: relative;
  bottom: 15px;
  right: 12px;
  font-size: 15px;
}
/* /EXPLORE-PS5 */

/* ACCESSORI-CONTAINER */
.accessori-container .card{
  border: none;
}

.accessori-container img{
  width: 100%;
}
/* /ACCESSORI-CONTAINER */

/* JUMBOTRON-PS-PLUS */
.jumbotron-psplus{
  background-color: #bebcbb ;
}

.jumbotron-psplus img{
  width: 100%;
}

.jumbotron-psplus p{
  font-weight: 500;
}
/* /JUMBOTRON-PS-PLUS */

/* PS-NOW */
.jumbotron-psnow{
  background-color: #161c3b;
}

.jumbotron-psnow img{
  width: 100%;
}

.jumbotron-psnow p{
  font-weight: 500;
}
/* /PS-NOW */

/* PS-OCIAL */
.social h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px;
}

.social img{
  width: 150px;
}

@media screen and (max-width: 992px) {
  
  .social img {
    width: 100%;
  }
}
/* /PS-OCIAL */

/*
/MAIN
*/

/*
FOOTER
*/
footer{
  background-color: #00439c;
}

footer li{
  padding: 10px 0;
  cursor: pointer;
}

footer p {
  font-size: 18px;
  padding: 20px 0px;
}


/*
/FOOTER
*/
