*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style: none;

}

.ap-btn{
  display:inline-block;
  background-color:#cd3d0f;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  border: 2px solid rgba(175, 0, 0, 0);
  outline: 2px solid rgba(175, 0, 0, 0);
}

.ap-btn:hover{
  border: 2px solid #ffffff;
  outline: 4px solid #cd3d0f;
}

#log-in-btn{
  background-color:#363636;
  color: white;
  padding:3px 10px;
  margin: 0;
}

#log-in-btn:hover{
  border: 2px solid #ffffff;
  outline: 4px solid #363636;
}

#ps-plus-btn{
  background-color:#d9dadc ;
  color: #205be7;
}

#ps-plus-btn:hover{
  border: 2px solid #c0c0c0;
  outline: 4px solid #aaa9a8;
}

#ps-now-btn{
  background-color:#ffffff ;
  color: #000000;
}

#ps-now-btn:hover{
  border: 2px solid #000000;
  outline: 4px solid #ffffff;
}

#inform-h:hover{
  border: 2px solid #ffffff;
  outline: 4px solid #0d6efd;
}


/* MENU-NAV-MODIFIER */

.nav-menu .nav-img{
  width:65px ;
}

.nav-menu .nav-img-sec{
  width:25px ;
}

.nav-menu ul{
  margin:0;
  padding: 0;
}

.nav-menu li{
  font-size:17px;
  font-weight: 500;
  margin-right:10px;
  cursor: pointer;
} 

.chevron-act,
.chevron-norm{
  width: 7px;
  cursor: pointer;
  margin-left: 5px;
}

.chevron-act{
  display: none;
}

.nav-menu li:hover{
  color: #0d6efd;
} 

.nav-menu li:hover .chevron-norm{
  display: none;
}

.nav-menu li:hover .chevron-act{
  display: inline-block;
}

.ham-nav img{
  margin-right: 20px;
  width: 65px
}



/* MENU-NAV-MODIFIER */







.debug{
  background-color: rgba(175, 0, 0, 0.2);
  border: 1px solid black;
}
