*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.ap-btn{
  background-color:red;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: 600;
}


/* MENU-NAV-MODIFIER */

.dropdown-toggle{
  font-size: 12px;
  font-weight: 600;
}

.dropdown-toggle img{
  width: 10px;
}

.dropdown-toggle span{
  padding-right: 5px;
}

.dropdown-toggle::after{
  display: none;
}


/* MENU-NAV-MODIFIER */























.debug{
  background-color: rgba(175, 0, 0, 0.2);
  border: 1px solid black;
}